<div class="container mtt">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      {{#if loginError}}
        <div class="alert alert-danger" role="alert">
          {{loginError}}
        </div>
      {{/if}}
      <div class="card p-4 mb-5">
        <form action="/auth/login" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Kirish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>